@{
    ViewData["Title"] = "Home Page";
}

<div class="white">
    <div class="text-center justify-content-around">
        <h1 class="display-3">Game Shop</h1>
        <br />
        <form asp-action="Home" asp-controller="ConsolePages">
            <button type="submit" name="Welcome" class="btn btn-primary ">Welcome</button>
        </form>
    </div>
</div>
