@model GameShop.Models.User
@{
    ViewData["Title"] = "AccessDenied";
 }
<h1 class="white">Oppppppsssssi!!!!!!</h1>
<h2 class="white">You are not authorized to access this page.</h2>

<div class="white">
    <a asp-action="Logout">Click here</a> to signin using a different user
</div>