@model GameShop.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfRelease" class="control-label"></label>
                <input asp-for="DateOfRelease" class="form-control" />
                <span asp-validation-for="DateOfRelease" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input list="search_list" asp-for="Genre" class="form-control">
                <datalist id="search_list">
                    <option lebel="Action" value="Action"></option>
                    <option lebel="Adventure" value="Adventure"></option>
                    <option lebel="Shooter" value="Shooter"></option>
                    <option lebel="RolePlayingGames" value="RolePlayingGames"></option>
                    <option lebel="Racing" value="Racing"></option>
                    <option lebel="Sport" value="Sport"></option>
                    <option lebel="Fighting" value="Fighting"></option>
                    <option lebel="Consoles" value="Consoles"></option>
                    <option lebel="Accessories" value="Accessories"></option>
                </datalist>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trailer" class="control-label"></label>
                <input asp-for="Trailer" class="form-control" />
                <span asp-validation-for="Trailer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Consoles" class="control-label"></label>
                <input list="select_list" asp-for="Consoles" class="form-control"></>
                <datalist id="select_list">
                    <option lebel="Ps5" value="Ps5"></option>
                    <option lebel="Ps4" value="Ps4"></option>
                    <option lebel="XboxOne" value="XboxOne"></option>
                    <option lebel="XboxXS" value="XboxXS"></option>
                    <option lebel="Pc" value="Pc"></option>
                </datalist>
                <span asp-validation-for="Consoles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
