* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/black-background.jpeg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}


.nav-item {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.white {
    color: #fff;
}

.bitch {
    background-color: rgb(148 121 16);
}