* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/black-background.jpeg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.headline-bg {
    background-image: url(../images/redHbgjpg.jpg);
    background-size: cover;
    background-position: center;
}
.nav-bg {
    background-image: url(../images/bluebg2.jpg);
    background-size: cover;
    background-position: center;
   
}
.nav-button {
    background-color: none;
}
.nav-item {
    display: inline-flex;
    list-style: none;
    color: #f7d404;
}
.navLogin{
    margin:0px;
}

.white {
    color: #fff;
}

.bitch {
    background-color: rgb(148 121 16);
}