@model IEnumerable<GameShop.Models.ConsolePage>

@{
    ViewData["Title"] = "Home";
}


<lu class="nav justify-content-around nav-bg">
 
    @foreach (var item in Model)
    {
        <li class="nav-item dropdown">

            <button type="button" class=" btn dropdown-toggle text-warning nav-button" data-toggle="dropdown" asp-area="" asp-action="MainPage" asp-route-id="@item.Id">
                @Html.DisplayFor(modelItem => item.Name)
            </button>
            <div class="dropdown-menu nav-bg">
                <a class="dropdown-item text-warning" asp-action="GamePage" asp-route-id="@item.Id">Action</a>
                <a class="dropdown-item text-warning" href="#">Another action</a>
                <a class="dropdown-item text-warning" href="#">Something else here</a>
            </div>


        </li>
    }
</lu>
<br />
<br />
<br />
<br />

<body>
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/gow4bg.jpg" alt=" god of war 1" width="1100" height="670">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/gow4bg2.jpg" alt="god of war 2" width="1100" height="670">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/bf3bg.jpg" alt="bf3" width="1100" height="670">
                <div class="carousel-caption">
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

</body>